<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Об авторе</title>
</head>
<body>
    {% include 'menu.html' %}
    <h1>{{ page_title }}</h1>
    <p>
        ФИО: Ерошенко Тимофей Александрович<br>
        Год рождения: 2007<br>
    </p>
    <p>
        Правила генерации пароля:<br>
        1. Рекомендуется использовать пароли длиной не менее 12 символов.<br>
        2. В пароле должны использоваться буквы в верхнем и нижнем регистрах, цифры и специальные символы (например, !, @, #, $, %, &).<br>
        3. Избегайте использования личной информации.<br>
        4. Пароли не должны содержать обычные слова из словаря.<br>
        5. Используйте уникальные пароли для различных учетных записей.
    </p>
</body>
</html>
