<!DOCTYPE html>
<html>
<head>
    <title>Вход</title>
</head>
<body>
    <h1>Вход</h1>
    {% if error %}
    <p style="color: red;">{{ error }}</p>
    {% endif %}
    {% if session.logged_in %}
        <a href="{{ url_for('news') }}">Перейти на страницу новостей</a>
    {% else %}
        <form method="post">
            <label for="username">Логин:</label>
            <input type="text" name="username" id="username">
            <label for="password">Пароль:</label>
            <input type="password" name="password" id="password">
            <button type="submit">Войти</button>
        </form>
        <a href="{{ url_for('register') }}">Нет аккаунта? Зарегистрироваться</a>
    {% endif %}
</body>
</html>
